<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Este é um projeto feito em Angular 9</h1>
                <p class="lead mb-5 text-white">Este Web Site faz parte do teste para a empresa Demo</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/hero-65f7115665ae4e89965ce52e0b9c9bc2.svg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Somos Demo</h4>
                    <p class="card-text">Uma empresa inovadora de adquirência
                        Autorizada pelo Banco Central do Brasil e licenciada pelas bandeiras, nosso objetivo é simplificar o mercado de pagamentos, criando soluções customizadas para clientes.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/assetsgolpe-na-internet.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Caí em um golpe na internet, o que devo fazer?</h4>
                    <p class="card-text">Sofreu um golpe na internet? Saiba como se proteger e recorrer aos órgãos competentes!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/checkout-transparente.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">O que é checkout transparente?</h4>
                    <p class="card-text">Com o checkout transparente, o cliente não é redirecionado para fora da loja virtual para fazer o pagamento, agilizando o processo de vendas. Entenda melhor como ele funciona!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/estorno-de-cartao-de-credito.png" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Saiba como funciona o estorno de cartão de crédito</h4>
                    <p class="card-text">O estorno de cartão de crédito está gerando transtorno no seu negócio? Entenda como funciona e quais os direitos do consumidor nesse processo!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->